body { /* CORPO TODO */
    font-family: "Inter", sans-serif;
    font-size: 30px;
    line-height: 48px;
    background-color: #F3F5FC;
}


.cabecalho-home { /* ==================== CABECALHO */
    height: 60px;
    width: 100%;
    margin: auto;
    position: relative;
    background-color: #2287AA;
}

img .cabecalho-home {
    size: 30px 30px;
}


.conteudo-home { /* ======================= CONTEÚDO */
    /*background-color: #55AAAA;*/
    display: flex;
    margin: 50px;
}

.EntraTexto {
    font-size: 20px;
    text-align: center;
    height: 200px;
    width: 45%;
    display: inline-block;
    margin: 20px 1em 20px 1em;
    padding: 10px;
    position: relative;
}

#info-restricaocripto {
    font-size: 10px;

}

.botoes {
    display: flex;
    flex-direction: row;
    margin: 20px;
}

#botao-criptar {
    color: #FFFFFF; 
    background: #0A3871;
    margin: 15px;
}

#TextoEntrada {
    font-family: "Inter";
    font-weight: 400;
    font-size:  15px;
    line-height: 200%;
}


#botao-descriptar {
    margin: 15px;
}

.SaiResultado {
    font-size: 20px;
    text-align: center;
    height: 200px;
    width: 45%;
    display: inline-block;
    margin: 20px 1em 20px 1em;
    padding: 10px;
    position: relative;
    
}

#MensagemSaida {
    background-image: url("imagens/boneco.png");
    background-repeat: no-repeat;
}

#infos-do-desenvolvedor {
    font-size: 10px;
}