body { /* CORPO TODO */
    width: auto;
    max-width: 100%;
    font-family: "Bungee Hairline", cursive;
    font-size: 30px;
    line-height: 48px;
    background-color: #F3F5FC;
}

/* ==================== CABECALHO =========== */

.cabecalho-home { 
    height: 70px;
    max-width: 100%;
    padding-top: 20px;
    padding-left: 1em;
    background-color: #F3F5FC;
}

.cabecalho-home img {
    max-width: 70px;
    max-height: 70px;
    margin-top: 1%;
    display: inline;
    float: left;
}

.cabecalho-home h1 {
    max-height: 70px;
    max-width: 250px;
    font-family: "Bungee", cursive;
    color: #306DA5;
    font-size: 15px;
    line-height: 20px;
    padding-top: 5px;
    vertical-align: text-bottom;
    display: inline-block;
    position: relative;
}

.cabecalho-home strong {
    font-size: 25px;
}

.conteudo-home { /* ======================= CONTEÚDO */ 
    width: auto;
    max-width: 100%;
    display: block;
    margin-right: 30px;
    margin-bottom: 30px;
    margin-left: 2em;
}

textarea {
    border: none;
    border-radius: 20px;
    resize: none;
}

textarea:focus, input:focus, select:focus {
    outline: 0;
    border: 0 none;
    resize: none;
} 

.EntraTexto {
    font-family: "Bungee Hairline", cursive;
    font-size: 10px;
    height: 100%;
    display: inline-block;
    margin-right: 2em;
    padding: 5px;
    margin-top: 30px;
    position: relative;
    text-align: center;
}

#TextoEntrada {
    font-family: "Bungee Hairline", cursive;
    text-decoration-color: #306DA5;
    padding: 15px;
    font-weight: bold;
    font-size:  15px;
    background-color: #F3F5FC;
}

#info-restricaocripto {
    color: #306DA5;
    font-family: "Bungee", cursive;
    font-size: 10px;
    width: auto;
    display: block;
    text-align: left;
}

#info-restricaocripto:before {
    content: "🛈   ";
    text-decoration-color: #306DA5;
    font-size: 20px;
    bottom: 0;
}

/* ================ BOTÕES ====  */

.botoes {
    width: 100%;
    height: auto;
    margin: 10px 1em 5px 1em;
}

button:hover {
    font-weight: bold;
	opacity: 0.99;
    box-shadow: 0 0 5px #2e3456;
    transform: scale(1.1);
    transition: 400ms;
}

#botao-criptar {
    font-family: "Bungee Outline";
    font-size: 20px;
    color: #FFFFFF; 
    background: #306DA5;
    border-radius: 10px;
    border-color: #306DA5;
    margin-right: 1em;
}

#botao-descriptar {
    font-family: "Bungee Outline";
    font-size: 20px;
    color: #306DA5;
    background-color: #FFFFFF;
    border-radius: 10px;
    border-color: #306DA5;
    margin-left: 1em;
}

.SaiResultado {
    font-family: "Bungee Hairline", cursive;
    font-size: 10px;
    float: right;
    margin: 0px 0 1em 2em;
    display: inline-block;
    position: relative;
    vertical-align: top;
    ;
}

#MensagemSaida {
    font-family: "Bungee Hairline", cursive;
    text-decoration-color: #306DA5;
    font-size: 15px;
    font-weight: bold;
    line-height: 15px;
    max-width: 100%;
    max-height: 100%;
    display: flex;
    padding: 10px;
    padding-top: 25px;
    background-image: url("imagens/boneco.png");
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: 50px;
    position: relative;
}

#div-Copiar {
    width: 100%;
    text-align: center;
    display: flexbox;
    position: absolute;
    bottom: 1em;
}

#botaoCopiar {
    font-family: "Bungee", cursive;
    font-size: 15px;
    background: #FFFFFF; 
    color: #306DA5;
    position: relative;
    border-radius: 15px;
    border-color: #306DA5;
}


footer {
    background-color: #306DA5;
    display: block;
    position: relative;
    max-width: 100%;
    width: auto;
    height: 2em;
    padding: 10px;
    bottom: 0;
}

#infos-do-desenvolvedor {
    font-size: 10px;
    text-align: center;
    color: #F3F5FC;
    line-height: 12px; 
    width: auto;   
    padding: auto;
    position: relative;
    margin: auto;
    margin-top: 2%;
    vertical-align: middle;
}